<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Kahala</title>
	<link href="resources/css/main.css" />
	
	
	<style>
		#board table.outer-board td.big-pit {
			border: 1px solid #ccc;
			padding: 48px;
		}
		#board table.inner-board tr {
			display: flex;
		}
		#board table.inner-board tr:first-child {
			flex-flow: row-reverse;
		}
		#board table.inner-board td {
			border: 1px solid #ccc;
			padding: 24px;
			cursor: pointer;
		}
		#board table.inner-board td:hover {
			background: #ccc;
		}
	</style>
	
	
</head>
<body>
	<nav>
		<p>Kalaha Game</p>
	</nav>
	
	<div id="alert">
		<p></p>
	</div>
	
	<div id="game">
		<button v-if="!gameIsActive" @click="startGame">Start Game</button>
		
		<div id="board" v-else v-cloak>
			<table class="outer-board">
				<tr>
					<!-- Player 2 -->
					<td class="big-pit">{{game.players[1].score}}</td>
					<td>
						<table class="inner-board">
							<!-- Player 2 -->
							<tr><td v-for="(pit, index) in game.players[1].pits"
							@click="choosePit(1, index)">{{pit}}</td></tr>
							<!-- Player 1 -->
							<tr><td v-for="(pit, index) in game.players[0].pits"
							@click="choosePit(0, index)">{{pit}}</td></tr>
						</table>
					</td>
					<!-- Player 1 -->
					<td class="big-pit">{{game.players[0].score}}</td>
				</tr>
			</table>
		</div>
	</div>
	

<script src="resources/js/vue.min.js"></script>
<script src="resources/js/axios.min.js"></script>
<script src="resources/js/polyfill.min.js"></script>
<script src="resources/js/alert.js"></script>	
<script src="resources/js/main.js"></script>
</body>
</html>