[v-cloak] {
	display: none;
}

body {
    font-family: monospace;
    background: #ffc;
}

nav {
    text-align: center;
    padding: 15px;
    color: #770;
    margin: -8px;
}

.btn-container {
	min-height: 32px;
	min-width: 64px;
	text-align: center;
}

.btn-container button {
	border: none;
    background: #ff0;
    border-radius: 10px;
    padding: 4px 8px;
    box-shadow: 2px 2px #aa9;
    outline: none;
}

.btn-container button:active {
    box-shadow: 0px 0px #aa9;
    margin-left: 2px;
    margin-top: 2px;
}

#alert.alert-msg {
    box-shadow: 3px 3px #0a0;
    border: 1px solid #0a0;
    color: #0a0;
}

#alert.alert-error {
    box-shadow: 3px 3px #f00;
    border: 1px solid #f00;
    color: #f00;
}

#alert {
	display: none;
    right: 10px;
    position: absolute;
    top: 10px;
    background: #fff;
    min-width: 100px;
    min-height: 50px;
    text-align: left;
    border-radius: 10px;
}

#alert p {
    padding: 0px 10px;
}

#board table {
    width: 100%;
}

#board table.outer-board td.big-pit {
    padding: 12px 48px;
}
#board table.inner-board tr {
    display: flex;
}
#board table.inner-board tr:first-child {
    flex-flow: row-reverse;
}
#board table.inner-board td {
    padding: 6px 24px;
    cursor: pointer;
    width: 100%;
}
#board table.inner-board td:hover {
    background: #ccc;
}

#board table .pit-player1,
#board table .big-pit-player1 {
    border: 2px solid #aa0;
    box-shadow: 2px 2px #aa0;
}
#board table .pit-player2,
#board table .big-pit-player2 {
	border: 2px solid #555;
	box-shadow: -2px -2px #555;
}

#board table .big-pit-player1,
#board table .big-pit-player2 {
    background: #fff;
}

#board .msg-winner {
color: #ff0;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
    margin-top: 10px;
    text-shadow: 1px 1px #aa4;
    font-size: 32px;
}